
<div class="center">
     <h3 style="font-size: 12px; margin-top: 20px">

         {{#testnet}}
            This is <span style="color:#ff6b62">testnet</span> blockchian
         {{/testnet}}

        </h3>
</div>

<div class="center" style="width: 60%">
    You can use this service to prove to someone that you send them
    Monero. For this you need tx hash/id which you want to prove,
    the transaction's private key (obtained using <i>get_tx_key</i>
    command in  <i>monero-wallet-cli</i> command), and the recipient's
    Monero address.
</div>


<div class="center">
    <form action="/prove" method="get" style="width:100%; margin-top:15px" class="style-1">
        Tx hash/id: <br/><input type="text" name="txhash" size="100"> <br/><br/>
        Tx private key: <br/><input type="text" name="txprvkey" size="100"><br/><br/>
        Recipient's Monero Address: <br/><input type="text" name="xmraddress" size="100"><br/> <br/>
        <input type="submit" value="Search">
    </form>
</div>

<br/><br/>
