
<div>


    <table class="center" style="width: 80%; margin-top:10px">
        <tr>
            <td>Block: {{blk_height}}</td>
            <td>Timestamp [UCT]: {{blk_timestamp}}</td>
            <td>Age [y:d:h:m:s]: {{delta_time}}</td>
            <td>Fee: {{tx_fee}}</td>
            <td>Tx size: {{tx_size}} kB</td>
        </tr>

    </table>

    <h3>Checking which outputs of the given transaction
        were send to the given address
    </h3>

    <H5 style="margin:5px">Tx hash: {{tx_hash}}</H5>
    <h5>Tx private key: {{tx_prv_key}}</h5>
    <h5>Recipient's address: {{xmr_address}}</h5>

    <h3>Outputs ({{outputs_no}})</h3>
    <div class="center">
        <table class="center" >
            <tr>
                <td>Stealth address</td>
                <td>amount</td>
                <td>output match?</td>
            </tr>
            {{#outputs}}
            <tr>
                <td>{{output_idx}}: {{out_pub_key}}</td>
                <td>{{amount}}</td>
                {{#mine_output}}
                    <td>
                        <span style="color: #008009;font-weight: bold">
                        {{mine_output}}
                        </span>
                    </td>
                {{/mine_output}}
                {{^mine_output}}
                    <td>{{mine_output}}</td>
                {{/mine_output}}
            </tr>
            {{/outputs}}
        </table>

        <h3>Sum XMR from matched outputs: {{sum_xmr}}</h3>
    </div>


</div>
